body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: #041e42 !important;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 0;
    }
}

.lineItem-label {
    font-weight: 500 !important;
}

div#totalPrice {
    padding: 10px;
    font-weight: bold;
    background-color: #DCDCDC;
}

input#PaperHeight, input#PaperWidth, input#ItemUnits, input#NumImages, input#NumLamMatte, input#NumLam {
    max-width: 90px;
    margin: 5px;
}

div#mathSection {
    border-style: solid !important;
    border: #041e42;
    padding: 5px;
}

.btn-default {
    background-color: #041e42; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

    .btn-default:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }

select#Department, select#CustType, select#Location, select#Purpose {
    border: #041e42;
    border-style: solid;
}

.checkmark {
    display: inline-block;
    width: 22px;
    height: 22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    padding-left: 5px;
}

.checkmark_stem {
    position: absolute;
    width: 6px;
    height: 18px;
    background-color: #000;
    left: 12px;
    top: 12px;
}

.checkmark_kick {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #000;
    left: 6px;
    top: 24px;
}


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border: thin !important;
    border-style: groove !important;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #74767B;
    color: #fff;
    font-size: 115%;
}

.university-logo {
    width: 221px;
    transition: all .3s ease-in;
    display: block;
}

.university-logo-img {
    border: 1px solid #fff;
    width: 42px;
    height: 42px;
}
.university-logo-text.custom-logo-link-title {
    line-height: 1.25;
    height: 42px;
    display: inline-block;
    margin-bottom: 0;
}
.university-logo-text {
    color: #fff;
    margin-left: 5px;
    letter-spacing: -.35px;
    font-weight: 400;
    word-break: keep-all;
    white-space: nowrap;
    font-size: 1rem;
    vertical-align: middle;
}

#dropZone {
    background: gray;
    border: black dashed 3px;
    width: 200px;
    padding: 50px;
    text-align: center;
    color: white;
}